header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
        
    color: white;
    background-color: var(--text);
    margin: 0;
    width: 100%;
    height: 75px;

    font-size: 1.5rem;
}
a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}